.card {
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20rem;
  width: 20vw;
  transform-style: preserve-3d;
  transition: all 2s ease;
  border-radius: 8px;
  box-shadow: 5px 5px 10px 10px blueviolet;
  color: blueviolet;
}
.card:hover{
    transform: rotateY(180deg);
}

img {
  width: 200px;
  position: relative;
  top: -35%;
  height: 150px;
}
.container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.front {
  display: flex;
  flex-direction: column;
  align-items: center;
  backface-visibility: hidden;
  position: relative;
  top: 10%;
}
.back {
  transform: rotateY(180deg);
  position: absolute;
  backface-visibility: hidden;
  bottom: 25%;
  line-height:  40px;
  /* margin: 5rem; */
  right: 10%;
  font-size: 1.5rem;

}
.name {
  font-size: 2rem;
  color: blueviolet;
  text-transform: capitalize;
}
  @media (min-width:100px) and (max-width:1090px){
    .back {
      transform: rotateY(180deg);
      position: absolute;
      backface-visibility: hidden;
      bottom: 10%;
      line-height:  40px;
      width: 60vw;
      right: 1%;
      font-size: 1.5rem;
      display: flex;
      flex-wrap: wrap;
    }
        
    
}